<% render_breadcrumbs do |breadcrumbs| %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

      <h2><%= breadcrumbs.title %></h2>

      <ol class="breadcrumb">
        <% breadcrumbs.breadcrumbs.each do |breadcrumb| %>
          <li>
            <% if breadcrumb.path %>
              <%= link_to breadcrumb.name, breadcrumb.path %>
            <% else %>
              <%= breadcrumb.name %>
            <% end %>
          </li>
        <% end %>
      </ol>

    </div>
  </div>
<% end %>
